
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        body{
            margin-top: 5px;
            background:linear-gradient(127deg,
            rgba(222, 233, 222, 0.8),
             #f4d8f0, rgb(149, 234, 234) ,#c328ac);
        }
      .page_container{
        padding-top: 20px;
        height: 100vh;
        width: 400px;
        /* background-color: rgb(233, 158, 219); */
        
        margin: auto;
        border: 1px solid black;
     
        border-radius: 20px;
        text-align: center;
      }
      h2{
        color: rgb(15, 15, 197);
      }
      .input{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

      }
      .input:hover{
        border-radius: red;
      }
      .input input{
        border:1px solid black;
        border-radius: 15px;
        height: 25px;
        width: 300px;
        padding-left: 10px;
      }
      .signUp_button{
        padding-top: 0.3rem;
        height: 30px;
        width: 200px;
        background-color: rgb(86, 86, 172);
        color: white;

        border-radius: 20px;
        margin: auto;

        box-shadow: 9px 8px 18px rgb(86, 86, 172) ;
      }
      .signUp_button:hover{
         background-color:blue ;
      }
      .login_button{
        margin-top: 10px;
        background-color: rgb(60, 60, 102);
      }
      .login_button:hover{
        background-color: blueviolet;
      }
      h5{
        margin-top: 10px;
      }
    